/* Search bar styling */ 
#searchBar .search-query {
	background: #fff;
	border-color: transparent;
	box-shadow: none;
	color: #777;
}
#searchBar button {
	background: #4d645b;
	border-color: transparent;
	color: #fff;
}
#searchBar button:hover {
	background: #738d82;
	border-color: transparent;
	color: #fff;
}
body {
       font-family: 'Open Sans', sans-serif;
       color: #000000;
}

#back-to-shop {
	background-color: #4d645b;
	color: #fff !important;
	border-radius: 16px;
}
